<!doctype html5>
<html ng-app="customPlayer">
<head>
    <title>Soundcloud Player</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/progress-polyfill.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="plangular" plangular="https://soundcloud.com/erasedtapes/nils-frahm-peter-clark-remix">
        <span ng-if="!track">Loading...</span>
        <div class="track-frame" ng-click="playPause()" ng-if="track">
            <div class="artwork" ng-style="{ 'background-image': 'url(' + track.artwork_url.replace('large', 't500x500') + ')'}"></div>
            <!-- <img class="artwork" ng-src="{{ track.artwork_url.replace('large', 't500x500')  }}" alt="{{ track.title }}" /> -->

            <p>
                <button ng-click="playPause()">Play/Pause</button>
                {{ track.user.username }} - {{ track.title }}
            </p>
            <progress value="{{ currentTime / duration || 0 }}" ng-click="seek($event)">{{ currentTime / duration }}</progress>
            
        </div>
    </div>

    <!-- scripts -->
    <script src="js/progress-polyfill.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-animate.min.js"></script>
    <script src="//d2v52k3cl9vedd.cloudfront.net/plangular/2.0-beta-1/ng-plangular.min.js"></script>

    <script>
        var app = angular.module('customPlayer', ['ngAnimate', 'plangular']);
    </script>
</body>

</html>
