<!doctype html5>
<html ng-app="customPlayer">
<head>
    <title>Soundcloud Player</title>
    
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- Style -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/progress-polyfill.css">
    <link rel="stylesheet" href="css/spinkit.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- scripts -->
    <script src="js/progress-polyfill.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-animate.min.js"></script>
    <script src="//d2v52k3cl9vedd.cloudfront.net/plangular/2.0-beta-1/ng-plangular.min.js"></script>

    <script>
        var app = angular.module('customPlayer', ['ngAnimate', 'plangular']);
    </script>
</head>

<body>
    <div class="plangular" plangular="https://soundcloud.com/ghostly/lusine-forks-1">
        


        <!-- The player -->
        <div class="track-frame" ng-if="track"> 
            <div class="play-pause">
                <svg plangular-icon="play" ng-if="player.playing != track"></svg>
                <svg plangular-icon="pause" ng-if="player.playing == track"></svg>
            </div>
            <img class="artwork" ng-click="playPause()" ng-src="{{ track.artwork_url.replace('large', 't500x500') }}"></img>

            <div class="controls">
                <span class="play" ng-click="play()" ng-if="player.playing != track">
                    <svg plangular-icon="play"></svg>
                </span>
                <span class="pause" ng-click="pause()" ng-if="player.playing == track">
                    <svg plangular-icon="pause"></svg>
                </span>
                <!-- {{ track.user.username }} - {{ track.title }} -->
            </div>
            <progress value="{{ currentTime / duration || 0 }}" ng-click="seek($event)">
                {{ currentTime / duration }}
            </progress>
            <div class="track-info">
                <div class="track-username">{{ track.user.username }}</div>
                <div class="track-title">{{ track.title }}</div>
                <a ng-href="{{ track.permalink_url}}">Listen on Soundcloud</a>
            </div>
        </div>


        <!-- Loading -->
        <div class="loading" ng-if="!track">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>

</body>

</html>
