<!DOCTYPE html>
<html ng-app="downspout">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title>Downspout</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="Downspout"/>

    <!-- Open Graph -->
    <meta property="og:title" content="Downspout" />
    <meta property="og:site_name" content="Downspout" />
    <meta property="og:type"   content="website" />
    <meta property="og:url"    content="http://salem.io/sketchbook/downspout/" />
    <meta property="og:image"  content="http://salem.io/sketchbook/downspout/img/og-image.png" />

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="img/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="img/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="img/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="img/icons/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="img/icons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="img/icons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="img/icons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="img/icons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="img/icons/mstile-310x310.png" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/vendor/skeleton/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/vendor/skeleton/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/vendor/progress-polyfill.css" media="screen" title="no title" charset="utf-8">

    <!-- Scripts -->
    <script src="bower_components/lodash/lodash.min.js" charset="utf-8"></script>
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="js/vendor/soundcloud.js"></script>
    <script src="js/vendor/progress-polyfill.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/plangular/dist/plangular.min.js"></script>
    <script src="bower_components/angular-ui-utils/unique.min.js"></script>

    <!-- Analytics -->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-64271627-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>

<body ng-controller="MainController" when-scrolled="more()">
    <h1 class="logo" ng-class="{hero: promptLogIn}">Downspout</h1>

    <div class="login" ng-if="promptLogIn" ng-cloak>
        <h4>All the free music from your SoundCloud stream.</h5>
        <h5 class="login-button" ng-click="start()">Connect with SoundCloud</h5>
    </div>

    <!-- Filter controls -->
    <div class="tracks controls" ng-if="loggedIn" ng-cloak>
        <div class="left">
            <input type="checkbox" id="mixes" ng-model="filters.mixes">
            <label for="mixes">
                <span class="ui"></span>
                <span class="label-text tooltip">
                    Show mixes?
                    <span class="tooltip-body">Use this to filter out DJ mixes and sets longer than 12 minutes.</span>
                </span>
            </label>
        </div>
        <div class="right">
            <span class="logout" ng-click="logout()">Logout</span>
        </div>


    </div>

    <!-- Track list -->
    <div class="tracks" ng-if="loggedIn" ng-cloak>
        <div class="track-wrapper" ng-repeat="feedItem in feed.collection | unique:'origin.permalink_url' | filter:{origin:{streamable: true, sharing: 'public'}}" ng-controller="TrackController" plangular="{{feedItem.origin.permalink_url}}" ng-show="feedItem.show">

            <div class="track" ng-class="{hide: !showTrack(track)}">
                <div class="track-body row">
                    <div class="track-column artwork">
                        <img ng-if="track" class="artwork" ng-src="{{ getLargerAlbumArt() }}" alt="{{ track.title }}" imageonload="feedItem.show = true" />
                        <!-- <div class="artwork-details">Copy artwork url</div> -->
                        <div class="soundcloud-attribution">
                            SoundCloud
                        </div>
                    </div>
                    <div class="track-column info">
                        <div class="track-menu">
                            <a class="menu-item permalink" ng-href="{{track.permalink_url}}" target="_blank" title="Permalink">
                                <svg class="js-geomicon geomicon" data-icon="link" viewBox="0 0 32 32" style="fill:currentcolor">
                                    <title>link icon</title>
                                    <path d="M0 16 A8 8 0 0 1 8 8 L14 8 A8 8 0 0 1 22 16 L18 16 A4 4 0 0 0 14 12 L8 12 A4 4 0 0 0 4 16 A4 4 0 0 0 8 20 L10 24 L8 24 A8 8 0 0 1 0 16z M22 8 L24 8 A8 8 0 0 1 32 16 A8 8 0 0 1 24 24 L18 24 A8 8 0 0 1 10 16 L14 16 A4 4 0 0 0 18 20 L24 20 A4 4 0 0 0 28 16 A4 4 0 0 0 24 12z"></path>
                                </svg>
                            </a>
                            <a ng-if="track.downloadable" class="menu-item download" ng-href="{{downloadUrl()}}" download={{track.title}} title="Download">
                                <svg class="js-geomicon geomicon" data-icon="chevronDown" viewBox="0 0 32 32" style="fill:currentcolor">
                                    <title>chevronDown icon</title>
                                    <path d="M1 12 L16 26 L31 12 L27 8 L16 18 L5 8 z"></path>
                                </svg>
                            </a>
                            <a ng-if="!track.downloadable" class="menu-item external" ng-href="{{downloadUrl()}}" title="Download from another site" target="_blank">
                                <svg class="js-geomicon geomicon" data-icon="chevronDown" viewBox="0 0 32 32" style="fill:currentcolor">
                                    <title>chevronDown icon</title>
                                    <path d="M1 12 L16 26 L31 12 L27 8 L16 18 L5 8 z"></path>
                                </svg>
                            </a>
                        </div>

                        <div class="track-info">
                            <h6>
                                <a ng-href="{{track.user.permalink_url}}" target="_blank">{{track.user.username}}</a>,
                                <a ng-href="{{track.permalink_url}}" target="_blank">
                                    <small>{{timestamp(feedItem.created_at)}}
                                        <span ng-if="feedItem.type == 'track-repost'">, originally posted {{timestamp(track.created_at)}}</span>
                                    </small>
                                </a>
                            </h6>
                            <h5><a ng-href="{{track.permalink_url}}" target="_blank">{{track.title}}</a></h5>
                        </div>

                        <div class="track-controls">
                            <small class="time">{{ currentTime | hhmmss }} | {{ (duration || track.duration/1000) | hhmmss }}</small>
                            <div class="play control" ng-click="play()" ng-show="player.playing !== track.src">
                                <svg class="js-geomicon geomicon" data-icon="play" viewBox="0 0 32 32" style="fill:currentcolor">
                                    <title>play icon</title>
                                    <path d="M4 4 L28 16 L4 28 z"></path>
                                </svg>
                            </div>
                            <div class="pause control" ng-click="pause()" ng-show="player.playing === track.src">
                                <svg class="js-geomicon geomicon" data-icon="pause" viewBox="0 0 32 32" style="fill:currentcolor">
                                    <title>pause icon</title>
                                    <path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z"></path>
                                </svg>
                            </div>

                            <progress ng-click="play(); seek($event)" ng-value="currentTime / duration">
                                {{ currentTime / duration }}
                            </progress>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <!-- <h1 ng-click="more()">Loading</h1> -->


    <!-- The app -->
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/controllers/main.js" charset="utf-8"></script>
    <script src="js/controllers/track.js" charset="utf-8"></script>
</body>

</html>
